body {
  background: #000;
}
* {
  padding: 0px;
  margin: 0px;
}

.layoutB{
  margin-top: 101px;
  border: 1px solid gray;
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}
.layoutC{
  margin-top: 100px;
  border: 1px solid gray;
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  

}
.layoutD{
  margin-top: 110px;
  border: 1px solid gray;
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;


}


.MAINNAVBAR {
  display: flex;
  justify-content: center;
}


.containerNAV1 {
  padding-top: 20px;
  max-width: 780px;
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
}
.navbar {
  max-width: 780px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 44px;
  background: rgba(0, 0, 0, 1);

  /* justify-content: center; */
}
.nav1 {
  display: flex;
  max-width: 129px;
  width: 100%;
  justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 13px;
}
.nav2 {
  max-width: 232px;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  justify-content: space-between;
}
.navimg1 {
  max-width: 24px;
  min-height: 24px;
  padding-left: 16px;
}
.navtxt1 {
  font-family: sans-serif;
  /* font-size: 22px; */
  /* font-weight: 400; */
  line-height: 26.4px;
  letter-spacing: -0.03em;
  /* padding-left:19px ; */
  /* padding-top:19px ;
   padding-bottom:19px ; */
  color: rgba(255, 255, 255, 1);
}
.navimg2 {
  max-width: 24px;
  width: 100%;
}
.navtxt2 {
  max-width: 37px;
  width: 100%;
  color: white;
  /* padding-left: 34px; */
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.02em;
}
.navtxt3 {
  color: white;
}
.navimg3 {
  max-width: 24px;
  width: 100%;
  padding-right: 16px;
}
.mainbody {
  width: 100%;
}
.txt1 {
  max-width: 704px;
  width: 100%;
}
.txta {
  font-family: sans-serif;
  font-size: 88px;
  font-weight: 500;
  line-height: 105.6px;
  letter-spacing: -0.03em;
  text-align: left;
  color: white;
  text-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.45);
}

.txtb {
  font-family: Denton Condensed Test;
  font-size: 88px;
  font-style: italic;
  font-weight: 100;
  line-height: 105.6px;
  letter-spacing: -0.03em;
  text-align: left;

  color: white;
}

.txtc {
  font-family: Denton Condensed Test;
  font-size: 88px;
  font-style: italic;
  font-weight: 100;
  line-height: 105.6px;
  letter-spacing: -0.03em;
  text-align: left;
  color: white;
}
.txt2 {
  max-width: 704px;
  width: 100%;
}

.body1 {
  max-width: 704px;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: left;
  padding-top: 90px;
  gap: 20px;
  margin: 0 auto;
  /* padding-left: -90px; */
}
.body2 {
  max-width: 704px;
  width: 100%;
  display: flex;
  white-space: nowrap;
  margin: 0 auto;

  gap: 20px;
  justify-content: center;
  /* background-image: url("Project 4 imgs/back img.svg"); */
}
.border {
  max-width: 153px;
  width: 100%;

  min-height: 2px;
  background-color: rgba(255, 255, 255, 1);
}
.outerborder {
  display: flex;
  align-items: center;
  max-width: 153px;
  width: 100%;
}
.images1 {
  position: relative;
}
.images2 {
  position: absolute;
  padding-right: 60px;
  /* bottom: -370px; */
}
.projectimage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hedtxt {
  max-width: 339px;
  color: rgba(255, 255, 255, 1);
  opacity: 50%;
  font-family: sans-serif;
  cursor: pointer;
  padding-left: 102px;
}
/* .mainheaderb{
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 102px;
} */
.hedtxt1 {
  color: rgba(255, 255, 255, 1);
  font-family: sans-serif;
  opacity: 50%;
  cursor: pointer;
}
.hedtxt3 {
  color: rgba(255, 255, 255, 1);
  opacity: 50%;
  font-family: sans-serif;
  cursor: pointer;
}
.hedprt2 {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.hedprt3 {
  display: flex;
  cursor: pointer;
}

.hedtxt2 {
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgba(255, 255, 255, 1);
  font-family: sans-serif;
  font-size: 22px;
  cursor: pointer;
  opacity: 50%;
}
.header2 {
  max-width: 947px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  /* border: 1px  solid gray ; */
  padding-left: 15px;
}
.header3 {
  margin-right: 102px;
  max-width: 311px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 52px;
  box-shadow: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -4px 30px 0px rgba(255, 255, 255, 0.1) inset;
}
.arrow1 {
  max-width: 48px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 53px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.hedtxt5 {
  max-width: 225px;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding-left: 54px;
  padding-top: 19px;
  padding-bottom: 19px;
  opacity: 50%;
}
.header1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.bdytxt1 {
  max-width: 186px;
  width: 100%;
  opacity: 50%;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding-left: 102px;
}

.bodyb {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.bodyimg1 {
  max-width: 24px;
  width: 100%;
}
.bdytxt4 {
  max-width: 102px;
  width: 100%;
  /* font-family: sans-serif; */
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-style: italic;
}
.bdytxt3 {
  max-width: 139px;
  width: 100%;
  /* font-family: sans-serif; */
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-style: italic;
}
.mainbody2 {
  max-width: 102px;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  gap: 9px;
  align-items: center;
}

.mainbody1 {
  max-width: 139px;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  gap: 9px;
  align-items: center;
}
.bodyimg2 {
  max-width: 24px;
  width: 100%;
}
.mainbdyab {
  max-width: 139px;
  width: 100%;
  display: flex;
  gap: 52px;
  padding-left: 102px;
  padding-bottom: 84px;
}
.bodyimg3 {
  position: absolute;
  bottom: 30%;

  z-index: 400px;
  opacity: 0.2;
}
.bodyimg4 {
  /* padding-top: 193px; */
}
.bdytxt2 {
  margin-right: 102px;
  max-width: 390px;
  width: 100%;
  /* font-family: sans-serif; */
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  opacity: 50%;
  /* position: relative; */
}
.layoutbimg {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 30px;
  /* padding-top:-200px; */
}

.bodyimg5 {
  display: flex;
  justify-content: center;
}

.layoutctxt2 {
  max-width: 313px;
  width: 100%;
}
.layoutctxt2 {
  max-width: 58px;
  color: white;

  font-family: PP Neue Montreal;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  padding-top: 7px;
  padding-bottom: 5px;
  opacity: 50%;
}
.buton1 {
  max-width: 82px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layoutctxt3 {
  max-width: 110px;
  width: 100%;
  font-family: serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;

  color: white;
  opacity: 50%;
}
.container1 {
  max-width: 264px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layoutctxt4 {
  max-width: 264px;
  width: 100%;
  color: aliceblue;
  font-family: PP Neue Montreal;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;

  padding-top: 98px;
  padding-bottom: 16px;
}
.border1 {
  max-width: 264px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.layoutctxt8 {
  max-width: 55px;
  width: 100%;
  color: white;
  opacity: 50%;
  font-family: serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
}
.layoutctxt9 {
  max-width: 79px;
  width: 100%;
  font-family: serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: white;
}

.container2 {
  padding-top: 18px;
  max-width: 264px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layoutctxt10 {
  max-width: 59px;
  color: white;
  opacity: 50%;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  font-family: serif;
}
.layoutctxt11 {
  max-width: 50px;
  width: 100%;
  /* font-family: serif; */
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: rgba(3, 155, 112, 1);
}
.container3 {
  padding-top: 18px;
  max-width: 264px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.layoutctxt12 {
  max-width: 79px;
  width: 100%;
  font-family: serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: rgba(3, 155, 112, 1);
  padding-left: 24px;
}
.maincontainer1 {
  max-width: 312px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  /* padding-left: 24px; */
  /* padding-bottom: 24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 24px;


  bottom: 10px;
}
.bodyimg6{
  padding-top:0%;
}





  

.maincontainer2 {
  max-width: 312px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  /* padding-left: 24px; */
  /* padding-bottom: 24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 24px;

}
.maincontainer3 {
  max-width: 312px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  /* padding-left: 24px; */
  /* padding-bottom: 24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 24px;
  box-shadow: 0px 44px 50px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);

 
}


.maincontainer4{
  max-width: 312px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  /* padding-left: 24px; */
  /* padding-bottom: 24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 24px;
  

  opacity: 20px;
 

 
}
.maincontainer5{
  max-width: 312px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  /* padding-left: 24px; */
  /* padding-bottom: 24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 24px;

 

 
}
.maincontainer6{
  max-width: 312px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  /* padding-left: 24px; */
  /* padding-bottom: 24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 24px;

 
}
.maincontainer7{
  max-width: 312px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  /* padding-left: 24px; */
  /* padding-bottom: 24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 24px;


 
}

.layoudimg2{
  max-width: 647px;
  width: 100%;
  /* margin-top: -900px; */
}
.layoutdtxt1{
  font-family: sans-serif;
font-size: 72px;
font-weight: 400;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: left;
color: white;


}
.layoutdtxt2{
  font-family: serif;
font-size: 72px;
font-style: italic;
font-weight: 100;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: left;
color: white;

}
.layoutdtxt3{
  font-family: serif;
font-size: 24px;
font-weight: 400;
line-height: 33.6px;
letter-spacing: -0.02em;
text-align: left;
opacity: 50%;
color: white;
padding-top: 40px;

}

.layoutdtxt4{
  font-family: serif;
font-size: 24px;
font-weight: 400;
line-height: 33.6px;
letter-spacing: -0.02em;
text-align: left;
/* opacity: 50%; */
color: white;
/* padding-top: 40px; */

}
.mainbdylayoutd {
  max-width: 273px;
  width: 100%;
  display: flex;
  gap: 52px;
  padding-top: 40px;
}

.layoutdtxt4 {
  max-width: 105px;
  width: 100%;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  /* font-style: italic; */
}
.layouDimg2 {
  max-width: 647px;
  width: 100%;
  margin-top: -124%;
  padding-left: 102px;
}
.layouTdDimg3{
  max-width: 647px;
  width: 100%;
  margin-top: -124%;
  padding-left: 1202px;
margin-top: -40%;

}


.mainlayoutda {
  max-width: 139px;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  gap: 19px;
  align-items: center;
}
.mainlayoutb{

  max-width: 102px;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  gap: 19px;
  align-items: center;
}
.layoutdtxt5{
  max-width: 102px;
  width: 100%;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);

}
.layoutdpart1{
  max-width: 647px;
  width: 100%;
}
.maincontainersoflayoutc{

  max-width: 1482px;
  width: 100%;
  inset: 0;
  /* top: 200px !important; */
  height:fit-content;
margin: 0 auto;
  display: grid;
  grid-template-columns:312px 312px 312px 312px ;
  gap: 78px;
  position: absolute;
  top: 1px;
  
}
.layoutdimg6{
  display: flex;
  justify-content: center;
  margin-top: -92px;
}

.layoutca {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.Layoutdtxt1maindiv{
  display: flex;
  justify-content: center;
  
}


.layoutctxt1 {
  max-width: 825.07px;
  width: 100%;
  /* font-family: sans-serif; */
  font-size: 145.77px;
  font-weight: 400;
  line-height: 145.77px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
  opacity: 50%;
  padding-top: 266px;

  
 
}
.mainlayoutD1{
  max-width: 647px;
  width: 100%;
 
  
}
.layoutdimg2{
  max-width: 120px;
  width: 100%;
}

.mainlayoutD2{
  max-width: 647px;
  width: 100%;

  

}
.mainlayoutD{
  max-width: 1920px;
  width: 100%;

  

  

}
.maindivofpag4{
  max-width: 1920px;
  width: 100%;


}

.blackalgo {
  border: 1px solid gray;
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;


}
.mainheaderA{
  display: flex;
  flex-direction: column;
  background-image: url(/images/layoutaimg1.png);
  width: 100%;
  max-width: 1920px;
  min-height: 920px;
  margin: 0 auto;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size:contain;
}



















.gridmaina{
  display: grid;
  row-gap: 67px;
  margin-top: 110px;
  height: fit-content;

}
.gridmainc{
  display: grid;
  row-gap: 67px;
  margin-top: 320px;

}
.gridmaind{
  display: grid;
  row-gap: 67px;
  margin-top: 40px;
  height: fit-content;
  z-index: 20px;
  



}
.gridmainb{
  display: grid;
  row-gap: 67px;
  margin-top: 420px;
  height: fit-content;

}
.etxt1{
  max-width: 647px;
  font-family:serif;
font-size: 72px;
font-weight: 400;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: left;
color: white;

}
.etxt2{


font-size: 72px;
font-style: italic;
font-weight: 100;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: left;
font-style: italic;
color: white;


}
.etxt3{
  padding-top: 19px;
  max-width: 647px;
  width: 100%;
  font-family: serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  letter-spacing: -0.02em;
  text-align: left;
  color: white;
  opacity: 50%;
  
}
.mainlayoute {
  max-width: 139px;
  width: 100%;
  display: flex;
  gap: 52px;
  padding-top: 20px;
  /* padding-left: 102px; */
  /* padding-bottom: 84px; */
}
.layoutetxt5 {
  max-width: 102px;
  width: 100%;

  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  /* font-style: italic; */
}
.layoutetxt4{
  max-width: 139px;
  width: 100%;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  /* font-style: italic; */
}
.layoutecard1{
  max-width: 647px;
width: 100%;
padding-left: 102px;
padding-top: 184px;

}
.layoutecard2{
  max-width: 647px;
width: 100%;
padding-right: 102px;
padding-top: 20%;

}
.Ecards12{
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.layoutE{
  margin: 100px;
    background-image: url(/images/layoutdimg1.svg);
    width: 100%;
    max-width: 1920px;
    min-height: 1000px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    border: 1px solid gray;
    
  }
  .cardemain{
    max-width: 1920px;
    width: 100%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
    .layoutF{
      background-image: url(images/cardF1.svg);
      max-width: 1920px;
      width: 100%;
      min-height: 1000px;
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid gray;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;

    }

    .txtf1{
      max-width: 546px;
      font-family: sans-serif;
font-size: 72px;
font-weight: 400;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: left;
color: white;


    }
    .txtf2{
      font-family: Denton Condensed Test;
font-size: 72px;
font-style: italic;
font-weight: 100;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: left;
font-style:italic;
color: white;
opacity: 90%;

    }
.ftxt3{
  max-width:155px ;
  width: 100%;
  font-family: sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;
color: white;
opacity: 50%;

}
.ftxt4{
  max-width:311px ;
  width: 100%;
  color: white;
  font-family: serif;
font-size: 24px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: -0.02em;
text-align: left;
opacity: 90%;
padding-top: 32px;

}
.maindivAB{
  display: flex;
  justify-content: space-between;
}
.ftxtA{
  padding-top: 93px;
  padding-left: 102px;
}
.ftxtB{
  padding-top: 50px;
  padding-right: 102px;
}
.card1txt1{
  max-width: 266px;
  width: 100%;
  font-family: sans-serif;
font-size: 48px;
font-weight: 400;
line-height: 57.6px;
text-align: left;
color: white;
opacity: 100%;
padding-left: 24px;

}
.card1txt2{
  max-width:500px ;
  width: 100%;
  min-height: 88px;
  color: white;
  opacity: 50%;
  font-family: sans-serif;
font-size: 16px;
padding-top: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;
padding-left: 24px;

}
.card1txt3{
  padding-top: 18px;
  max-width: 95px;
  width: 100%;
  font-family: serif;
font-size: 14px;
font-weight: 400;
line-height: 19.6px;
text-align: left;
opacity: 50%;
color: white;
padding-left: 24px;
}
.card1txt4{
  max-width: 55px;
  width: 100%;
  /* font-family: sans-serif; */
  color: white;
font-size: 14px;
font-weight: 400;
line-height: 19.6px;
text-align: left;
padding-left: 24px;


}
.card1txt4a{
  max-width: 55px;
  width: 100%;
  /* font-family: sans-serif; */
  color: rgba(3, 155, 112, 1);

font-size: 14px;
font-weight: 400;
line-height: 19.6px;
text-align: left;
padding-left: 24px;


}
.card1part2{
  max-width: 513px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.card1part3{
  max-width: 513px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 16px;
  


}
.cardfimg6{
  padding-top: 12px ;
  padding-left: 12px;
  padding-bottom: 8px;
  
}
.card1txt8{
  max-width: 40px;
  width: 100%;
  border: 1px solid rgba(235, 235, 255, 0.1);
  border-radius: 100px;
  
}
.card1txt6{
  max-width:68px ;
  width: 100%;
  font-family:serif;
font-size: 14px;
font-weight: 400;
line-height: 19.6px;
text-align: left;
color: white;
padding-left: 24px;

}
.card1part4{
  max-width:513px;
  width: 100%;
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}
.card1{
  max-width: 558px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  display: flex;
  flex-direction: column;

}
.cardimg2{
  max-width: 100px;
  width: 100%;
  padding-left: 20px;
  padding-top: 24px;
}
.card2{
  max-width: 558px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  display: flex;
  flex-direction: column;

}
.card3{
  max-width: 558px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  /* background: rgba(0, 0, 0, 0.01); */


}
.cardofFlayout{
  max-width: 1920px;
  display: flex;
 padding-left: 102px;
 gap: 16px;
 padding-top: 134px;
}
.layoutG{
  max-width: 1920px;
width: 100%;
border: 1px solid gray;
background-image: url(images/LAYOUTG.svg);
background-position: center;
min-height: 1000px;
background-repeat: no-repeat;
margin-left: auto;
margin-right: auto;
margin-top: 100px;

}
.layoutg1{
  background-image: url(/images/layoutdimg1.svg);
  min-height: 1000px;
}
.Gtxt1{
  color: white;
  max-width:858px ;
  width: 100%;
  font-family:serif;
font-size: 170px;
font-weight: 400;
line-height: 187px;
letter-spacing: -0.03em;
text-align: left;

}
.Gtxt2{
  font-family: serif;
font-size: 170px;
font-style: italic;
font-weight: 100;
line-height: 187px;
letter-spacing: -0.03em;
text-align: left;
color: white;
font-style: italic;

}

.Gtxt3{
max-width:43px ;
width: 100%;
font-family: sans-serif;
font-size: 90px;
font-weight: 400;
line-height: 126px;
letter-spacing: -0.02em;
text-align: left;
color: white;
/* padding-left: 70px; */
}
.Gtxt4{
  max-width:491px ;
  width: 100%;
  color: white;
  font-family: PP Neue Montreal;
font-size: 32px;
font-weight: 400;
line-height: 44.8px;
letter-spacing: -0.02em;
text-align: left;
padding-left: 60px;
/* z-index: 30px; */

}
.Gtxt5{
  max-width:507px;
  width: 100%;
  color: white;
  opacity: 50%;
  font-family:serif;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
letter-spacing: -0.02em;
text-align: left;
padding-left: 60px;
}
.gtext45{
  max-width: 507px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.layoutg3{
  max-width: 610px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.maindivlayoutg{
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.maindivlayoutg3{
  display: flex;
  flex-direction: column;
  padding-right: 102px;
  padding-top: 345px;
}
.layoutgtxt12{
  display: flex;
  flex-direction: column;
  padding-left: 102px;
  padding-top: 345px;
}
.layoutH{
   max-width: 1920px;
   width: 100%;
   background-image: url(images/layouthimg1.svg);
   min-height: 1000px;
   background-position: center;
   background-repeat: no-repeat;
   border: 1px solid gray;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
}


.htxt1{
max-width: 131px;
font-family:sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;
color: white;
opacity: 50%;
padding-top: 50px;



}

.htxt2{
  max-width: 624px;
  padding-top: 32px;
  width: 100%;
  color: white;
  font-family: serif;
font-size: 72px;
font-weight: 400;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: left;

}
.htxt3{
  max-width: 624px;
  /* padding-top: 32px; */
  width: 100%;
  color: white;
  font-family: serif;
font-size: 72px;
font-weight: 400;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: left;

}
.htxt4{
  max-width: 624px;
  /* font-family: serif; */
font-size: 72px;
font-style: italic;
font-weight: 100;
line-height: 86.4px;
letter-spacing: -0.03em;
/* text-align: left; */

color: white;

}
.layouthtexts{
  padding-left: 102px;

}
.cardhtxt1{
  max-width:508px ;
  width: 100%;
  color: white;
  font-family: serif;
font-size: 32px;
font-weight: 400;
line-height: 38.4px;
text-align: left;
padding-left: 24px;

}
.cardhtxt2{
  max-width:508px ;
  width: 100%;
  color: white;
  font-family: PP Neue Montreal;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;
padding-top: 18px;
padding-left: 24px;
padding-bottom: 24px;

}
.Hcard1{

  max-width:556px ;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(21, 21, 30, 0.3);
  border-radius: 24px;
  /* margin-left: 102px; */

}
.Hcard1A{

  max-width:556px ;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(21, 21, 30, 0.3);
  border-radius: 24px;
  margin-left: 102px;

}
.maindivcardsh{
  max-width: 1920px;
  width: 100%;
  /* padding-left: 102px; */
  /* padding-right: 102px; */
  display: flex;
  gap: 24px;
  padding-top: 344px;
  padding-bottom: 80px;
}
.layoutI{
  max-width: 1920px;
  width: 100%;
  border: 1px solid gray;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.txtI1{

max-width: 134px;
width: 100%;
font-family: PP Neue Montreal;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;
color: white;
opacity: 50%;


}
.txtI2a{
  max-width:337px ;
  width: 100%;
  color: white;
  /* font-family: serif; */
font-size: 72px;
font-weight: 400;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: left;

  
}
.txtI2b{
  /* font-family: serif; */
font-size: 72px;
font-style: italic;
font-weight: 100;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: left;
color: white;

}
.txtIAB{
  max-width: 358px;
  width: 100%;
  display: flex;
  gap: 5px;
  padding-top: 93px;
}



.txtI3{
  max-width: 468px;
  width: 100%;
  font-family: PP Neue Montreal;
font-size: 32px;
font-weight: 400;
line-height: 38.4px;
text-align: left;
color: white;
}
.txtI4{
  max-width: 468px;
  width: 100%;
  color: rgba(163, 163, 163, 1);
  font-family: PP Neue Montreal;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
opacity: 50%;
text-align: left;


}
.cardI2{
  display: flex;
  flex-direction: column;
  min-height: 1000px;
  justify-content: space-between;
}
.txtIcd{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 133px;
}
.layoutIimg1{
  padding-left: 102px;
  padding-top: 121px;
}
.layoutJ{
  max-width: 1920px;
  width: 100%;
  background-image: url(images/layoutjimg1.svg);
  min-height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}
.Jtxt1{
  max-width: 186px;
  width: 100%;
  color: white;
  opacity: 50%;
  font-family: PP Neue Montreal;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;
padding-top: 50px;
padding-left: 102px;

}
.Jtxt2{
  max-width: 545px;
  width: 100%;
  font-family: PP Neue Montreal;
font-size: 72px;
font-weight: 400;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: left;
color: white;

}
.Jtxt3{
  color: white;
  font-family: Denton Condensed Test;
font-size: 72px;
font-style: italic;
font-weight: 100;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: left;

}
.Jtxta{
  max-width: 1450px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.layoutj1{
  padding-top: 50px;
}
.Jtxt4{
  
  max-width:417px ;
  width: 100%;
  color: white;
  opacity: 50%;
  font-family: PP Neue Montreal;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
letter-spacing: -0.02em;
text-align: left;
padding-right: 102px;

}
.txt4Jmain{
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 350px;

}
.cardJtxt1{
  max-width: 256px;
  width: 100%;
  color: white;
 
font-size: 30px;
font-weight: 400;
line-height: 48px;
text-align: left;
padding-left: 24px;

padding-top: 10px;

}
.jcard1{
  max-width: 415px;
  width: 100%;
  background: rgba(21, 21, 30, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding-top: 30px;
  padding-bottom: 22px;
  margin-left: 102px;
}

.jcard2{
  max-width: 415px;
  width: 100%;
  background: rgba(21, 21, 30, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding-top: 30px;
  padding-bottom: 22px;
 
}



.layoutjimg2{
  padding-left: 24px;
  /* padding-top: 32px; */
}
.jmaincarddiv{
  max-width: 1920px;
  width: 100%;
  display: flex;
  gap: 16px;
  padding-bottom: 54px;
 
  padding-top: 85px;
}
.layoutk{
  max-width: 1920px;
  width: 100%;
border: 1px solid gray;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.ktxt1{
  max-width: 186px;
  width: 100%;color: white;
  opacity: 50%;
  font-family: PP Neue Montreal;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;

}
.layoutkcard1{
  max-width: 273px;
  display: flex;
  flex-direction: column;
 
  /* padding-top: 50px; */
}
.ktxt3{
  max-width: 746px;
  width: 100%;
 
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.03em;
text-align: left;
color: white;
opacity: 90%;
padding-bottom: 21px;
padding-top: 21px;
}
 .kcard2{
  max-width: 780px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}  


.kcard2a{
  max-width: 780px;
  width: 100%;
  display: flex;
  align-items: center;
  gap:30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.imgk1{
  max-width: 24px;
  width: 100%;
}
.ktxt2{
  max-width: 65px;
  width: 100%;
  color: white;
  opacity: 50%;
  font-family: PP Neue Montreal;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;

}
.maincard2{

  /* padding-bottom: 50px; */
}
.layoutkmaincard1{
  max-width: 780px;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 102px;
  padding-bottom: 100px;
}
.ktxt4{
max-width: 149px;
width: 100%;
color: white;
opacity: 50%;
font-family: PP Neue Montreal;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;




}
.ktxt5{
  padding-top: 85px;

  max-width: 780px;
  width: 100%;
  color: white;
  font-family: PP Neue Montreal;
font-size: 70px;
font-weight: 400;
line-height: 88.2px;
letter-spacing: -0.03em;
text-align: left;

}

.ktxt6{
  max-width: 780px;
  width: 100%;
  color: white;
  opacity: 50%;
}
.layoutkcard3{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-right: 102px;
  padding-bottom: 100px;
}
.layoutL{
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  margin-top: 100px;
  background-image: url(images/layoutlimg3.png);
  background-position: top;
  background-repeat: no-repeat;
}
.txtl1{
  width: 100%;
font-family: PP Neue Montreal;
font-size: 72px;
font-weight: 400;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: center;
color: white;
padding-top: 50px;

}
.txtl2{
  font-family: Denton Condensed Test;
font-size: 72px;
font-style: italic;
font-weight: 100;
line-height: 86.4px;
letter-spacing: -0.03em;
text-align: center;
color: white;

}
.txtl3{
  max-width: 131px;
  width: 100%;
  color: white;
  font-family: PP Neue Montreal;
font-size: 40px;
font-weight: 500;
line-height: 48px;
letter-spacing: -0.03em;
text-align: left;

}
.maindivl34{
  max-width: 1716px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.txtl5{
  max-width: 982px;
  width: 100%;
  color: white;
  font-family: PP Neue Montreal;
font-size: 24px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: -0.03em;
text-align: left;
padding-bottom: 29px;
padding-top: 29px;

}
.maindivl5{
  max-width:1014px ;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.ltxt7{
  color: white;
  max-width: 1014px;
  width: 100%;
  font-family: PP Neue Montreal;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
opacity: 50%;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
padding-bottom: 29px;

}
.maindivl6{
  max-width:1014px ;
  display: flex;
  justify-content: space-between;

}
.maindivcardl1{
 
  padding-left: 102px;
  padding-top: 79px;
  padding-bottom: 100px;
}
.maindivl7{
  max-width:1716px ;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.txtl6{
  max-width:471px ;
  width: 100%;
  color: white;
  font-family: PP Neue Montreal;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.03em;
  text-align: left;
  
padding-bottom: 29px;
padding-top: 29px;

}
.layoutM{
  max-width: 1920px;
  width: 100%;
  border: 1px solid gray;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}
.mtxt2{
  /* max-width: 63px; */
  width: 100%;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
letter-spacing: -0.02em;
text-align: left;
color: white;
opacity: 50%;
}
.cardm1{
  max-width: 203px;
  display: flex;
  align-items: center;
  
}
.mtxt1{
  max-width: 89px;
  width: 100%;
  font-family: PP Neue Montreal;
font-size: 22px;
font-weight: 400;
line-height: 26.4px;
letter-spacing: -0.03em;
text-align: left;
color: white;
}
.Mmaincard1{
  max-width:608px ;
  width: 100%;
  min-height:159px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 32px;

}
.cardm2{
  max-width: 156px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}
.cardm3{
  max-width: 156px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
 
}

.mtxt4{
  max-width: 111px;
  width: 100px;
  color: white;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
letter-spacing: -0.02em;
text-align: left;

}
.mtxt3{
  max-width: 111px;
  width: 100px;
  color: white;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
letter-spacing: -0.02em;
text-align: left;
opacity: 50%;
}
.mtxt5{
  max-width: 111px;
  width: 100px;
  color: white;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
letter-spacing: -0.02em;
text-align: left;
padding-bottom: 35px;
}
.maincardM23{
  max-width: 468px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}
.maincardofM{
  max-width: 1716px;
  display: flex;
  justify-content: space-between;
  /* padding-left: 102px; */
  /* padding-right: 102px; */
  padding-top: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.mbordordiv{
  padding-left:102px ;
}
.mtxt9{
  max-width: 1719px;
  width: 100%;
  font-family: PP Neue Montreal;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
letter-spacing: -0.02em;
text-align: left;
color: white;
opacity: 50%;
padding-top: 32px;
padding-bottom: 40px;
padding-left: 102px;
}
.layoutN{
  background-image: url(images/layoutn-img-1.svg);
max-width: 1920px;
width: 100%;
min-height: 1400px;
background-position: center;
background-repeat: no-repeat;
border: 1px solid gray;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
}

.layoutntxt1{
  /* max-width: 463px; */
  width: 100%;
  color: white;
  font-family: PP Neue Montreal;
font-size: 48px;
font-weight: 400;
line-height: 57.6px;
letter-spacing: -0.03em;
text-align: center;
/* text-align: center; */


}
.layoutntxt2{
  /* max-width: 463px; */
  width: 100%;
  color: white;
  font-family: Denton Condensed Test;
font-size: 48px;
font-style: italic;
font-weight: 100;
line-height: 57.6px;
letter-spacing: -0.03em;
text-align: center;

}
.maindivNA{
  max-width: 1920px;
  width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
padding-top: 34px;
}
.layoutntxt3{
  max-width: 235px;
  width: 100%;
  color: white;
  opacity: 50%;
  font-family: PP Neue Montreal;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;

}
.layoutntxt4{
  max-width: 241px;
  width: 100%;
  color: white;
  font-family: PP Neue Montreal;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.03em;
text-align: left;


}

.mainDivNb{
  max-width: 1092px;
  /* width: 100%;- */
  display: flex;
  justify-content: flex-end;
}
.Nlayouttable{
  max-width: 1920px;
  width: 100%;
 
 

  /* background: rgba(21, 21, 30, 0.3);
  border: 0.1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px; */
}
.nimg2{
 
  max-width: 20px;
  width: 100%;

}
.layoutntxt51{
  max-width: 84px;
  width: 100%;
  color: white;
  font-family: sans-serif;
font-size: 18.2px;
font-weight: 400;
line-height: 21.84px;
letter-spacing: -0.03em;
text-align: left;
}

.layoutntxt6{
  color: white;
}
.NmainDiv1{
  max-width: 242px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.layoutntxt6{
  max-width: 86px;
  width: 100%;
  font-family: PP Neue Montreal;
font-size: 13.87px;
font-weight: 400;
line-height: 20.8px;
letter-spacing: -0.02em;
text-align: left;
color: white;
opacity: 50%;
}
.Ncard1{
  max-width: 242px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* padding-left: 15px; */

  padding-left: 15px;
}
.layoutntxt7{
  max-width: 86px;
  width: 100%;
  font-family: sans-serif;
  font-size: 13.87px;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: -0.02em;
  text-align: left;
  
color: white;
/* opacity: 50%; */
}
.nimg3{
  max-width: 20px;
}
.Ncardmaindiv7{
  max-width: 240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid gray; */

}
.Ncardmaindiv7:hover{
  cursor: pointer;
  border: 0.87px solid rgba(255, 255, 255, 0.10);
  border-radius: 27px;
  background-color: rgba(194, 189, 189, 0.1);
}
.ncardAB{
  max-width: 242px;
  min-height: 552px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ncardA{
  padding-top: 13px;
}
.nimg4{
  max-width: 20px;
  padding-right:13px ;
}
.nimg11{
  max-width: 34px;
  width: 100%;
  padding-left: 13px;
}
.nimg12{
  max-width: 17px;
  width: 100%;
  padding-left: 20px;
}
.nlayouttxt9{
  max-width: 145px;
  width: 100%;
  color: white;
  font-family:sans-serif;
font-size: 13.87px;
font-weight: 500;
line-height: 20.8px;
letter-spacing: -0.02em;
text-align: left;

}
.nlayouttxt10{
  max-width:145px ;
  width: 100%;
  color: white;
  opacity: 50%;
  font-family: PP Neue Montreal;
font-size: 12.13px;
font-weight: 400;
line-height: 14.56px;
letter-spacing: -0.02em;
text-align: left;

}
.nmaindiv9{
  display: flex;
  flex-direction: column;
  padding-left: 7px;
}
.Ncardc{
  margin-top: 13px;
  max-width: 242px;
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  border: 0.87px solid rgba(255, 255, 255, 0.10);
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 20px;

  
}
.Ncardc:hover{
  cursor: pointer;
  background-color: rgba(194, 189, 189, 0.1);
}
.ncardD{
  padding-top: 13px;
}
.ncardD:hover{
  max-width: 242px;
  width: 100%;
  cursor: pointer;
  /* border: 0.87px solid rgba(255, 255, 255, 0.10); */
  border-radius: 29px;
  /* background-color: rgba(194, 189, 189, 0.1); */
}
.nlayouttxt12{
  max-width:263px ;
  width: 100%;
  color: white;
  opacity: 50%;
  font-family: PP Neue Montreal;
font-size: 12.13px;
font-weight: 400;
line-height: 14.56px;
letter-spacing: -0.02em;
text-align: left;

}
.nlayouttxt13{
  max-width: 124px;
  width: 100%;
  color:  white;
  font-family: PP Neue Montreal;
font-size: 27.73px;
font-weight: 400;
line-height: 20.8px;
letter-spacing: -0.02em;
text-align: left;

  
}
.nlayouttxt14{
  max-width:46px;
  width: 100%;
  color: rgba(3, 155, 112, 1);
  font-family: PP Neue Montreal;
font-size: 10.4px;
font-weight: 400;
line-height: 14.56px;
text-align: left;
padding-top: 4px;
padding-bottom: 3px;
padding-left: 6px;
padding-right: 6px;


  
}
.maindivn14{
  max-width: 59px;
  width: 100%;
  border: 0.87px solid rgba(255, 255, 255, 0.10);
  background-color: rgba(194, 189, 189, 0.1);
  border-radius: 52px;
  text-align: center;

}
.maindiv14An{
  max-width: 184px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 13px;
}
.ncarddbordor{
  max-width: 305px;
  width: 100%;
  border: 0.87px solid rgba(255, 255, 255, 0.10);
  border-radius: 20px;
}
.ncardwidth{
  max-width: 263px;
  width: 100%;
  padding: 20px 20px 20px 20px;
}
.maindivn14a{
  max-width: 37px;
  width: 100%;
  border: 0.87px solid rgba(255, 255, 255, 0.10);
  background-color: rgba(194, 189, 189, 0.1);
  border-radius: 52px;
  text-align: center;

}
.nlayouttxt14b{
  max-width:46px;
  width: 100%;
  color: rgba(3, 155, 112, 1);
  font-family: PP Neue Montreal;
font-size: 10.4px;
font-weight: 400;
line-height: 14.56px;
text-align: left;
padding: 3px 3px 3px 3px;


  
}
.maindiv14Ana{
  max-width: 184px;
  width: 100%;
  display: flex;
  align-items: center;
 gap: 15px;
  padding-top: 13px;
}
.nlayouttxt13a{
  max-width: 99px;
  width: 100%;
  color:  white;
  font-family: PP Neue Montreal;
font-size: 27.73px;
font-weight: 400;
line-height: 20.8px;
letter-spacing: -0.02em;
text-align: left;

  
}
.nlayouttxt13b{
  max-width: 91px;
  width: 100%;
  color:  white;
  font-family: PP Neue Montreal;
font-size: 27.73px;
font-weight: 400;
line-height: 20.8px;
letter-spacing: -0.02em;
text-align: left;

  
}
.maindiv14Anb{
  max-width: 184px;
  width: 100%;
  display: flex;
  align-items: center;
 gap: 5px;
  padding-top: 13px;
}
.layoutntxt15{
  max-width: 139px;
  width: 100%;
  font-family: PP Neue Montreal;
font-size: 17.33px;
font-weight: 400;
line-height: 20.8px;
letter-spacing: -0.02em;
text-align: left;
color: white;

}
.layoutntxt16{
  max-width: 235px;
  width: 100%;
  font-family: PP Neue Montreal;
font-size: 12.13px;
font-weight: 400;
line-height: 14.56px;
letter-spacing: -0.02em;
text-align: left;
color: white;
opacity: 50%;
padding-top: 10px;
}
.mainlayout15{
  max-width: 235px;
  width: 100%;
  display: flex;
}
.nalyoutarrow{
  max-width: 235px;
  width: 100%;
}
.maindivarrow{
  max-width: 263px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 0.87px solid rgba(255, 255, 255, 0.10);
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  
}
.layoutncard3maindiv{
  max-width: 942px;
  width: 100%;
  display: flex;
  gap: 13px;
}